.transaction {
    background-color: var(--secondary-black);
    color: var(--primary-white);
    width: 320px;
    border-radius: 1rem;
}

.transaction_Content {
    padding: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.transaction_Content > form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group {
    width: 100%;
    gap: 1rem;
    display: flex;
}

.form-group > input {
    width: 100%;
    background-color: var(--primary-gray);
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
}

.form-group > select {
    appearance: none;
    padding: 1rem;
    border: none;
    background-color: var(--primary-gray);
    color: var(--primary-white);
    width: 100%;
    border-radius: 0.5rem;
}


.transaction_Content > form > button {
    background-color: var(--primary-white);
    color: var(--secondary-black);
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
    border-radius: 0.5rem;
}

.transaction_Content > form > button:hover {
    background-color: var(--primary-black);
    color: var(--primary-white);
}