.home {
    background-color: var(--primary-black);
    height: 100vh;
}

.payment {
  background-color: var(--primary-black);
  height: 100vh;
}

.payment_Dashboard {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.home_Dashboard {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (max-width: 768px) {
    .home {
      background-color: var(--primary-black);
    }
  
    .home_Dashboard {
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }
  }